<!-- Buxgalteriya - Dropdown -->
<li class="has-submenu {% if '/accounting/' in request.path %}active{% endif %}">
    <a href="#" class="submenu-toggle" onclick="toggleSubmenu(event, this)">
        <i class="fa-solid fa-calculator"></i>
        <span data-i18n="nav_accounting">Buxgalteriya</span>
        <i class="fa-solid fa-chevron-down arrow"></i>
    </a>
    <ul class="submenu" style="{% if '/accounting/' in request.path %}display:flex;{% endif %}">
        <li>
            <a href="/accounting/#overview" data-acc-tab="overview" class="{% if '/accounting/' in request.path and '#overview' in request.get_full_path or '/accounting/' == request.path %}active{% endif %}">
                <i class="fa-solid fa-chart-pie"></i>
                <span data-i18n="acc_overview">Ko'rinish</span>
            </a>
        </li>
        <li>
            <a href="/accounting/#cash" data-acc-tab="cash" class="{% if '#cash' in request.get_full_path %}active{% endif %}">
                <i class="fa-solid fa-money-bill-wave"></i>
                <span data-i18n="acc_cash">Kassa</span>
            </a>
        </li>
        <li>
            <a href="/accounting/#students" data-acc-tab="students" class="{% if '#students' in request.get_full_path %}active{% endif %}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>O'quvchilar to'lovlari</span>
            </a>
        </li>
        <li>
            <a href="/accounting/#ledger" data-acc-tab="ledger" class="{% if '#ledger' in request.get_full_path %}active{% endif %}">
                <i class="fa-solid fa-book-journal-whills"></i>
                <span data-i18n="acc_ledger">Jurnal</span>
            </a>
        </li>
        <li>
            <a href="/accounting/#balance" data-acc-tab="balance" class="{% if '#balance' in request.get_full_path %}active{% endif %}">
                <i class="fa-solid fa-scale-balanced"></i>
                <span data-i18n="acc_balance">Sinov balansi</span>
            </a>
        </li>
        <li>
            <a href="/accounting/#coa" data-acc-tab="coa" class="{% if '#coa' in request.get_full_path %}active{% endif %}">
                <i class="fa-solid fa-sitemap"></i>
                <span data-i18n="acc_coa">Hisoblar rejasi</span>
            </a>
        </li>
        <li>
            <a href="/accounting/#manual" data-acc-tab="manual" class="{% if '#manual' in request.get_full_path %}active{% endif %}">
                <i class="fa-solid fa-pen-to-square"></i>
                <span data-i18n="acc_manual">Qo'lda jurnal</span>
            </a>
        </li>
        <li>
            <a href="/accounting/#settings" data-acc-tab="settings" class="{% if '#settings' in request.get_full_path %}active{% endif %}">
                <i class="fa-solid fa-sliders"></i>
                <span data-i18n="acc_settings">Sozlamalar</span>
            </a>
        </li>
    </ul>
</li>
